.title {
  color: var(--primary-color);
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 1.5rem;
}

.subtitle {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.agentCard {
  text-align: center;
  background-color: white;
  border-radius: 0.5rem;
  padding-bottom: 1.5rem;
  padding-top: 3rem;
  position: relative;
}

.profileImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.agentName {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0.3rem;
}

span {
  font-size: 16px;
  color: #888;
}

.bio {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 14px;
  color: #888;
  line-height: 1.5;
}

.text {
  font-size: 14px;
  color: #888;
}

.agentInfo {
  overflow: hidden;
  overflow-wrap: break-word; /* Break words when needed */
  word-wrap: break-word; /* Compatibility */
  word-break: break-word; /* Ensures break-word works across browsers */
}
