@import url("https://use.typekit.net/ywe2wgt.css");

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 3rem;
}

.footer h2 {
  color: var(--primary-color);
  font-size: 1.7rem;
  font-family: "thermal-variable", sans-serif !important;
  font-variation-settings: "wght" 700,   "opsz"  500;
  font-weight: 800;
}

.icons {
  transition: fill 0.3s ease, stroke 0.3s ease;
}

.icons:hover svg path {
  fill: var(--primary-color);
  stroke: var(--primary-color);
}

.icons svg path {
  fill: #fff;
  stroke: #fff;
}

.nav ul li a {
  color: #999;
}
.nav ul li a:hover {
  color: #fff;
}
