#label {
  font-weight: 600;
  font-size: 14px;
  color: #6c757d;
}

#data {
  color: #212529;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#link {
  font-size: 14px;
  text-decoration: none;
  color: #0d6efd;
}

.title {
  display: flex;
  flex: 1;
  justify-content: center;
}
