.customModal {
  max-width: 400px !important; /* Set the desired width here */
  width: 100%; /* Optional: ensures the modal takes full width up to max-width */
}

.customHeader {
  display: flex;
  align-items: center; /* Aligns items vertically */
  justify-content: space-between; /* Space between title and close button */
  width: 100%; /* Ensures the header takes the full width */
}

.titleContainer {
  flex: 1; /* Takes the available space */
  text-align: center; /* Centers the title text */
  margin: 0px 0px 8px;
}
.titleContainer h4 {
  font-weight: bold;
  color: black;
}
.modal-title {
  margin: 0; /* Remove default margin for better centering */
}

.btn {
  background-color: var(--primary-color) !important;
  border: none !important;
  border-radius: 2rem !important;
  color: black !important;
  font-weight: 500 !important;
}

.btn:hover {
  background-color: var(--secondary-color) !important;
  color: white !important;
}

.signup {
  text-decoration: none;
}
