.container {
  display: grid;
  place-self: center;
  max-width: 850px;
  padding: 2rem;
  margin: 3rem 0rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

label {
  font-weight: 600;
}

.form_group {
  margin-top: 0.5rem;
  overflow-x: hidden;
}
