#link {
  font-weight: 600;
  font-size: 15px;
  color: #999;
}
#title {
  font-family: "thermal-variable", sans-serif !important;
  font-variation-settings: "wght" 700,   "opsz"  500;
  font-weight: 800;
}
.active {
  background-color: rgb(243, 245, 248) !important;
}
.active #link {
  color: #f69314 !important;
}

.navlink .inactive {
  color: #343a40 !important; /* Inactive color, you can adjust it */
}
