#link {
  font-weight: 500;
  font-size: 15px;
}

#navLink[aria-current="page"] {
  background-color: rgb(243, 245, 248);
}
#navLink[aria-current="page"] span {
  color: var(--primary-color) !important;
  background-color: transparent !important;
  font-weight: bold;
}

#navLink:hover {
  background-color: rgb(243, 245, 248);
}
