#link {
  font-weight: 500;
  font-size: 15px;
  color: #999;
}
.active {
  background-color: rgb(243, 245, 248) !important;
}
.active #link {
  color: #f69314 !important;
}

.navlink .inactive {
  color: #343a40 !important; /* Inactive color, you can adjust it */
}
