@import url("https://use.typekit.net/ywe2wgt.css");

html {
  scroll-behavior: smooth;
}
body {
  font-family: "highgate", sans-serif !important;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  --primary-color: #f69314;
  --secondary-color: #3b3b3b;
}
