.imagesSection {
  position: relative;
  display: flex;
  min-height: 400px;
  text-align: center;
}

.showAllButton {
  font-size: 0.9rem;
  padding: 8px 12px;
  cursor: pointer;
}

.imagesSection img:hover {
  cursor: pointer;
}
.title {
  font-family: "thermal-variable", sans-serif !important;
  font-variation-settings: "wght" 700,   "opsz"  500;
  font-weight: 500;
}
