.imagesSection {
  position: relative;
  display: flex;
  min-height: 400px;
  text-align: center;
}

.showAllButton {
  font-size: 0.9rem;
  padding: 8px 12px;
  cursor: pointer;
}

.imagesSection img:hover {
  cursor: pointer;
}
